body {
    background-color: rgb(78, 75, 75);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    color: white;
}
.allForm {
    width: 400px;
    height: 300px;
    margin: 30px auto;
    padding: 30px 50px;
    text-align: center;
    border: white 2px solid;
}
.textForm {
    max-width: 300px;
    margin: 0 auto;
    border:black 1px solid;
    border-radius: 10px;
}