@mixin getBox($boxSize,$backColor:red) {
    width: $boxSize;
    height: $boxSize;
    background: $backColor;
}

@mixin addHover($borderColor:grey) {
    &:hover {
        border: 1px solid $borderColor;
    }
}

@mixin getSheme($withChild) {
    width: 20px;
    height: 20px;
    background: blueviolet;
    @if $withChild {
        .children {
            color: cadetblue;
        }
    }
}