// @import "variable.scss";
// @import "mixin.scss";

// // .test {
// //     width: $widthBlock;
// //     color: $colorText;
// // }

// // .parent {
// //     width: $widthBlock;
// //     height: 100px;
// //     background-color: yellow;
// //     .child {
// //         background-color: yellowgreen;
// //     }
// // }

// .parent {
//         background-color: red;
//     &.child {
//         background-color: blue;
//     }
// }

// .box {
//     width: $widthBlock;
//     height: 100px;
//     background: green;
//     &-blue {
//         background: blue;
//     }
// }

// .box-100 {
//     @include getBox(100px);
//     @include addHover();
// }

// .box-200 {
//     @include getBox(200px,yellow);
//     @include addHover(black);
// }

// .grandFather {
//     font-size: 15px;
//     line-height: 40px;
//     letter-spacing: 3px;
// }

// .grandSon {
//     @extend .grandFather;
//     font-size: 30px;
// }

// .sector {
//     height: $widthBlock+$heightBlock;
//     width: $widthBlock+$heightBlock;
//     background: pink;
// }

// @for $i from 10 through 70 {
//     // .fontX#{$i} {        
//     //     font-size: $i+px;
//     // }
//     @if $i%2==0 {
//         .fontX#{$i} {
//             font-size: $i+px;
//         }
//     }
// }

// .test1 {
//     @include getSheme(false);
// }

// .test2 {
//     @include getSheme(true);
// }

// .text {
//     $color_768: green;
//     color: $color;
//     @media (max-width:768px) {
//         color: $color_768;
//     }
// }
