/* .floatLeft {
    float: left;
    width: 33%;
}
.floatRight {
    float: right;
    width: 33%;
} */

.box {
    width: 300px;
    height: 200px;
    background: red;
}
.floatLeft {
    float: left;
    width: 500px;
    background: salmon;
}
.floatRight {
    float: right;
    width: 700px;
    background: rosybrown;
}

@media (max-width:480px){
    .box {
        background: rebeccapurple;
    }
}
@media (max-width:1216px){
    .floatLeft, .floatRight {
        float: unset;
        width:100%;
    }
}