/* div {
    color: red;
}

.text {
    background: black;
}
#test {
    border: 1px solid green;
    width: 10px;
    height: 3em;
}

div span {
    color: yellow;
}

.class1 .class2 {
    background-color: pink;
    width: 50px;
    height: 4rem;
}

.class3>.class4 {
    color: blue;
}

.parent1+.parent2 {
    font-size: 33px;
}

.fontX22 {
    font-size: 22px;
}

.div1 {
    text-decoration: underline;
}

.div2 {
    color: gray;
} 

.div1.div2 {
    color: red;
}

.divBox {
    height: 100px;
    width: 150px;
    background: black;
}

.divBox:hover {
    background: gray;
    height: 300px;
    width: 450px;
}

a:active {
    font-size: 40px;
    transition: all 0.3s ease;




.parent :last-child {
    font-weight: bold;
}

.last-type:last-of-type {
    color: red;
}

div {
    color: red;
}

div:not(#colorBlue) {
    color: blue;
}

.odd :nth-child(even) {
    background: gray;
}

a[href^="https"]:active {
    text-decoration: none;
}

.before::before {
    content: "!";
}
.after::after {
    content: ":";
}

.box {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    transform: rotate(90deg);
    position: relative;
}

.box::after {
    content: ".";
    position: relative;
    right: -25px;
}*/


/* .boxContainer {
    outline: 1px solid black;
    max-width: 300px;
    max-height: 450px;
    min-width: 100px;
    min-height: 150px;
}

div {
    line-height: normal;
    font-weight: bold;
    font-style: italic;
    font-family: 'Ranchers', cursive;
}

.boxPadding {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 15px 20px 35px 30px;
} 

body {
    height: 2000px;
}

.first {
    width: 100px;
    height:35px;
    border: 2px solid black;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.second {
    width: 100px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.blok {
    display: block;
}
.inline {
    display: inline;
    width: 100%;
}

.box {
    border: 1px solid black;
    display: inline;
}

.withScroll {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    overflow: auto;
}

.picture {
    width: 100%;
    height: 2000px;
    border: 2px solid black;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
}*/

/* .parent {
    width: 500px;
    height: 500px;
    background: purple;
   
    left: 50px;
} 

.child {
    width: 50px;
    height: 50px;
    background: yellow;
    position: relative;
    top: 50px;
    left: 550px;
    z-index: 10;
    opacity: .5;
}

.child2 {
    width: 50px;
    height: 50px;
    background: green;
    position: absolute;
    right: 0px;
    bottom: 0;
}*/

body {
    width: 2000px;
}

.fixed-box {
    width: 20px;
    height: 20px;
    background: red;
    position: fixed;
}