// .parent{
//     font-weight: 400 !important;
// }


.main{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    .test{
        width: 100%;
        height: 20px;
        background-color: yellowgreen;
        border: 1px solid greenyellow;
        text-align: center;
        font-size: 15px;
        color: yellow;
    }
    .change{
        @extend .test;
        height: 100px;
    }
}

.enabled {
    background: gray;
    width: 50px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 2px;
    color: white;
}