.main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .test, .main .change {
  width: 100%;
  height: 20px;
  background-color: yellowgreen;
  border: 1px solid greenyellow;
  text-align: center;
  font-size: 15px;
  color: yellow;
}

.main .change {
  height: 100px;
}

.enabled {
  background: gray;
  width: 50px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 2px;
  color: white;
}
/*# sourceMappingURL=style.css.map */