/* .products {
    display: flex;
    justify-content: space-between;
}

.cardBlock {
    width: 250px;
    height: 350px;
    background-color: aquamarine;
    border: green 3px dashed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.cardBlock__picture {
    width: 200px;
    height: 300px;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.cardBlock__text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: blue;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.cardBlock__text__color-red {
    color:red;
}

.cardBlock__box {
    width: 50px;
    height: 50px;
    background-color: pink;
}
 */
/* 
 .parent {
     display: grid;
     grid-template-columns: 50px 100px 70px;
     grid-auto-rows: minmax(30px, 150px);
 }

 .child {
     grid-column-start: 4;
     grid-column-end: 1;
     grid-row-start: 4;
     grid-row-end: 2;
 } */

 /* .grid {
     display: grid;
     grid-template-columns: 50px 100px 30px;
     grid-template-rows: 1fr 3fr 2fr;
     grid-template-areas:   "a a a"
                            "c b b"
                            "c b b";
     grid-column-gap: 15px;
     grid-row-gap: 25px; */
     /* grid-gap: 15px 25px; */
 /* }

 .child1 {
     background-color: green;
     grid-area: a;
 }

 .child2 {
    background-color: yellow;
    grid-area: b;
}

.child3 {
    background-color: pink;
    grid-area: c;
} */

/* .table1 {
    display: grid;
    grid-template-columns: 30px;
    grid-template-rows: 30px;
    grid-template-areas:    "a a b c"
                            "d e f f";
}

.cell1 {
    background-color: aquamarine;
    grid-area: a;
}

.cell2 {
    background-color: firebrick;
    grid-area: b;
}

.cell3 {
    background-color: teal;
    grid-area: c;
}

.cell4 {
    background-color: salmon;
    grid-area: d;
}

.cell5 {
    background-color: red;
    grid-area: e;
}

.cell6 {
    background-color: khaki;
    grid-area: f;
} */

.table2 {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 200px);
}

.child2 {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);    
}

.child3 {
    display: grid;
    grid-template-rows: repeat(2, 100px);    
}

.child1, .child2, .child3, .child4, .cell {
    border: 1px solid black;
}