/* .animation {
    width: 100px;
    height: 100px;
    background-color: coral;
    animation-name: anim;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.17,.67,.83,.67);
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode:forwards;
    animation-play-state: running; /*не обязательно
}*/

/* .animation:hover {
    animation-play-state: paused;
} */

/* .animation {
    animation: anim 5s cubic-bezier(.17,.67,.83,.67) 1s alternate forwards;
} */

/* .flex {
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap-reverse; */
    /* flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    height: 400px;
    border: darkblue 1px solid;
} 

.child {
    width: 200px;
    height: 50px;
    background-color: cyan;
    text-align: center;
} */

.flex {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    border: darkgoldenrod 1px solid;
    height: 200px;
}

.child {
    height: 50px;
    background-color: darkcyan;
    flex-basis: 150px;
    border: 1px black solid;
    flex-grow: 1;
    flex-shrink: 1;
}

.child2 {
    flex-grow: 3;
}

.child3 {
    flex-shrink: 6;
    align-self: flex-end;
}
@keyframes anim {
    0% {
        background-color: cornflowerblue;
    }
    25% {
        background-color: crimson;
    }
    80% {
        width: 150px;
    }
    100% {
        height: 150px;
    }
}